.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  color: black;

  main.main-content {
    flex: 1;
    padding: 16px;
    padding-bottom: 100px;
  }
}
