.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-card {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 40px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
}

.login-footer {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
}
